{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('https://www.w3schools.com/w3css/4/w3.css') }}">
    <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Raleway') }}">
    </head>
{% endblock %}



{% block body %}

<div class="w3-content" style="max-width:1300px;">
    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            {% for post in posts %}
                <div class="w3-card-4 w3-margin w3-white">

                    {% if post.image is not empty %}
                        <img src="{{ asset('uploads/'~ post.image) }}" alt="Nature" style="width:100%">
                        {% else %}
                        <img src="{{ asset('assets/noPhoto.jpg') }}" alt="noPhoto" style="width:100%">
                    {% endif %}
{#                    <img src="{{ asset('uploads/'~ post.image) }}" alt="Nature" style="width:100%">#}
                    <div class="w3-container">
                        <h3><b>{{ post.title }}</b></h3>
                        <h5>{{ post.status }}, <span class="w3-opacity">{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</span></h5>
                    </div>
                    <div class="w3-container w3-white">
                        <p>
                        {% for category in post.categories %}
                            <span class="w3-tag w3-light-black w3-medium w3-margin-bottom">{{ category.tag }}</span>
                        {% endfor %}
                        </p>
                    </div>

                    <div class="w3-container">
                        <p>{{ post.content }}</p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><a href="{{ path('app_post_comments', {'postid': post.id}) }}"><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">{{ post.commentaires|length }}</span></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <hr>
            <div class="w3-col l4">
            <!-- Labels / tags -->
            <div class="w3-card w3-margin">
            </div>
            </div>
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">

            <!-- Posts -->
            <hr>
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Manage Your Posts</h4>
                </div>
                <div class="w3-container w3-white">
                    <p><a href="{{ path('app_post_new') }}">
                            <button class="w3-button w3-padding-large w3-light-blue w3-border w3-medium"><b>Add Post »</b></button></a>
                    </p>
                    <p><button class="w3-button w3-padding-large w3-light-blue w3-border w3-medium"><b>My Posts »</b></button></p>

                </div>
            </div>
            <!-- Labels / tags -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                    <p>     {% for post in posts %}
                        {% for category in post.categories %}
                            <span class="w3-tag w3-light-black w3-medium w3-margin-bottom">{{ category.tag }}</span>
                        {% endfor %}
                    {% endfor %}
                    </p>
                </div>
            </div>

            <!-- END Introduction Menu -->
        </div>
        </div>

</div>

{% endblock %}
